<div class='widar_note'>
<h3>Not logged into WiDaR</h3>
<div class='lead'>
<p>To play these games, you have to use WiDaR!</p>
<p>Log in <a href='/widar/index.php?action=authorize' target='_blank'>here</a>, then click <a href='#' onclick='wdgame.init();return false'>here</a> or reload this page.</p>
</div>
</div>

<div class='main_page_box' mode='info'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Wikidata - The game!</h3>
<p>Here, you can find a set of "games" that help to improve <a href='//www.wikidata.org'>Wikidata</a>, one statement at a time.</p>
</div>
<div class='wdgame_desc'>
Wikidata is a complex website, and has many sophisticated functions. Many actions, however, can be anticipated by a machine, and then "just" need a human to perform or deny that action.
Here, you can find many of such potential actions, and easy buttons to perform or deny them, styled as a quick game.
Just click on a game below and try it out! The games will edit Wikidata for you, under your user name, via OAuth.<br/>
Remember, however, that these games do, in essence, edit Wikidata on your behalf; you are responsible for these edits.<br/>
Every game screen has a "Not sure" button; when in doubt, don't be afraid to use it!<br/>
Flagged items are listed <a target='_blank' href='//www.wikidata.org/wiki/Wikidata:The_Game/Flagged_items'>here</a>.
Please report issues and suggestions <a target='_blank' href='https://bitbucket.org/magnusmanske/wikidata-game/issues?status=new&status=open'>here</a>!
</div>
</div>

<br/>

<div class='main_page_box' mode='random'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Random game</h3>
<p>A random game, from the list below, is selected each time.<br/>
Makes for more variety.</p>
</div>
</div>

<div class='main_page_box' mode='merge'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Merge items</h3>
<p>Some topics have duplicate items on Wikidata. Two items with the same title or alias will be suggested to you.<br/>
Merge identical topics, tag items as different, or skip an item pair if you are not sure. Please be very careful!</p>
<!--<i>Was asked to deactivate the merge game temporarily, because admins are too slow deleting the merged pages. You people are just too fast for them!</i>-->
</div>
</div>

<div class='main_page_box' mode='person'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Person</h3>
<p>Many items about people on Wikidata have no "instance of" property.<br/>
Decide if one of them is a <a href='//www.wikidata.org/wiki/Q5'>human</a>, or skip the item if you are not sure.</p>
</div>
</div>

<div class='main_page_box' mode='nogender'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Gender</h3>
<p>Many items about people on Wikidata have no <a href='//www.wikidata.org/wiki/Property:P21'>gender property</a> set.<br/>
Add a sex/gender statement "male" or "female", or skip the item if you are not sure.</p>
</div>
</div>

<div class='main_page_box' mode='occupation'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Occupation</h3>
<p>These people have no <a href='//www.wikidata.org/wiki/Property:P106'>occupation</a>, but their articles suggest some.</p>
</div>
</div>

<div class='main_page_box' mode='alma_mater'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Alma mater</h3>
<p>These people have no <a href='//www.wikidata.org/wiki/Property:P69'>alma mater</a>, but their articles suggest some.</p>
</div>
</div>

<div class='main_page_box' mode='nationality'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Country of citizenship</h3>
<p>These people have a birth place, but no country of citizenship (<a href='//www.wikidata.org/wiki/Property:P27'>P27</a>).</p>
</div>
</div>

<div class='main_page_box' mode='disambig'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Disambiguation items</h3>
<p>These items could represent <a href='//www.wikidata.org/wiki/Q4167410'>disambiguation pages</a>, and should be marked as such!</p>
</div>
</div>

<div class='main_page_box' mode='no_date'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Date</h3>
<p>These people have birth and/or death date missing.</p>
</div>
</div>

<div class='main_page_box' mode='no_image'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Image</h3>
<p>These items have no image, but their Wikipedia articles do.</p>
</div>
</div>

<div class='main_page_box' mode='commonscat'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Commons category</h3>
<p>These items have no Commons category, but one with the exact same name exists.</p>
</div>
</div>

<div class='main_page_box' mode='no_author'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Books without author</h3>
<p>These books have no author on Wikidata, but their Wikipedia articles might.</p>
</div>
</div>

<!--
<div class='main_page_box' mode='no_item'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>No item</h3>
<p>These articles on other projects have no Wikidata item. Find the matching item, or create a new one!</p>
</div>
</div>
-->

<br/>

<div class='main_page_box' mode='stats'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Statistics</h3>
<p>See how you've done so far, how others have done, and how the gamification is doing.</p>
</div>
</div>

<div class='main_page_box' mode='settings'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Settings</h3>
<p>Your personal game settings, such as language preferences.</p>
</div>
</div>
